
<p><%= current_user.username %>'s plant:</p>
<p>Plant's Name: <%= @plant.name%> </p>
<p>Character: <%= @plant.character%> </p>

<br>





<a href="/plants/<%=@plant.id%>/edit">Edit Plant </a>
<br>
<form method="POST" action="/plants/<%=@plant.id%>/delete">
  <input id="hidden", type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Plant">
</form>
<br>
<a href='/garden'>Back to Garden</a>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
